- unless party_summary.nil?
  - party = party_summary
  %tr.party
    %td= party_logo_small party
    %td= link_to_party(party, party.name)
    %td.count= party.mp_count(48)
    %td.count= party.mp_count(49)

