- unless party_summary.nil?
  - party = party_summary
  %tr
    %td= link_to_party party
    %td.count= party.mp_count
    %td.percentage= percentage party.mp_count, total_mps
    %td= party.name if party.name
