%p By analysing party voting on final bill readings, we can see how parties differ when it comes to legislation passed during the 48th New Zealand Parliament.
%p
  = image_tag('parties/voting_distances_48th_parliament.png', :size=>'600x600')

%p The closer two parties are on the plot, the more often they voted the same way in final bill readings. The distances between the parties is calculated based on their votes. The axes don't have any special meaning, it's the distances between parties that explains similarity in their voting.

%p.faq Is there an explanation for the party clusters?

%p New Zealand First and United Future voted in a similiar way to Labour as they were part of the Labour led government. Both parties had a confidence and supply agreement with Labour. The Progressives were in a coalition agreement with Labour and voted almost exactly the same as Labour - their logo is displayed in an offset position to be visible on the plot.

%p National and Act were relatively similar in their bill voting, but voted quite differently from the other parties.

%p The Greens and Maori party were relatively similar in their bill voting. Both parties' voting differed substantially from both Labour and National. However both the Greens and Māori Party voted more often in the same way as Labour than as National.

%p The plot was created by a statistical analysis of bill votes, using a technique called principal components analysis. The two principal components plotted above explain 74.4% of the variance in the way parties voted on final bill readings.

%p You can read a blog post for details of <a href="http://blog.theyworkforyou.co.nz/post/55519819/statistical-analysis-of-nz-parliament-bill-votes">how to do the principal components analysis</a> for yourself. The data is provided.
