#normalcontent
  %h1 Political Parties
  .contentarea
    %p Parties in the 48th New Zealand Parliament.
    %table
      %thead
        %th
        %th Party
        %th MPs
      %tbody
        =render(:partial => 'party_summary', :collection => @parties, :locals => {:total_mps => @total_mps})
        %tr
          %td
          %td &nbsp;
          %td
        %tr
          %td
          %td TOTAL MPS
          %td.count= @total_mps
    %h2 Compare parties' bill votes from the 48th Parliament
    =render(:partial => 'vote_matrix', :object => @third_reading_matrix)
