#normalcontent
  %h1 Political Parties
  .contentarea
    %p Parties in the 48th New Zealand Parliament.
    %table
      %thead
        %th Party
        %th MPs &nbsp;
        %th Registered name
      %tbody
        =render(:partial => 'party_summary', :collection => @parties, :locals => {:total_mps => @total_mps})
        %tr
          %td &nbsp;
          %td
        %tr
          %td TOTAL MPS
          %td.count= @total_mps
    - # %h2 Percentage of Third Reading Votes Parties Voted Together
    - # =render(:partial => 'vote_matrix', :object => @third_reading_matrix)
    - # %h2 Percentage of Third Reading Votes Parties Voted Aye Together
    - # =render(:partial => 'vote_matrix', :object => @ayes_third_reading_matrix)
    - # %h2 Percentage of Third Reading Votes Parties Voted Noe Together
    - # =render(:partial => 'vote_matrix', :object => @noes_third_reading_matrix)

