#normalcontent
  %h1 Political Parties
  .contentarea
    %p Parties in the 48th New Zealand Parliament.
    %table
      %thead
        %th Party
        %th MPs &nbsp;
        %th % of MPs
        %th Registered name
      %tbody
        =render(:partial => 'party_summary', :collection => @parties, :locals => {:total_mps => @total_mps})
        %tr
          %td &nbsp;
          %td
          %td
        %tr
          %td TOTAL MPS
          %td.count= @total_mps
          %td.percentage 100%
