pkg
doc
*.log
*.db
*.sqlite3
*.htm
*.csv
.DS_Store
*~
.autotest
log/[^.]*
tmp/**/*
database.yml
contracts.yml
db/bills.yml*
development_structure.sql
schema.rb
public/friends_timeline.json
public/stylesheets/datatable.css
public/stylesheets/default.css
public/stylesheets/print.css
public/stylesheets/parlywords.css
data
nz-hansard
db/persisted_files.yml
lib/oe_votes.rb
R Console.txt
pca.rb
wordle.txt
public/images
mongrel_cluster.yml
db/current_bills.yml
db/committee_chairs.yml
db/committees.yml
db/ministers.yml
db/mps.yml
db/portfolios.yml
google*.html
public/portfolios
vendor/plugins/css_graphs
public/sitemap_*
config/environments/production.rb
config/rugalytics.yml
coverage
script/twitter.sh
db/members.yml
spec/rcov.opts
vendor/plugins/acts_as_xapian
config/initializers/kawaii.rb
config/kawaii.yml
lib/too_cute
lib/kawaii_authentication.rb
app/controllers/kawaii_controller.rb
app/views/kawaii
app/views/layouts/kawaii.html.erb
app/models/kawaii_snippet.rb
db/migrate/20081115213910_create_kawaii_snippets.rb
lib/kawaii_snippets.rb
public/parlywords
public/javascripts/kawaii
public/stylesheets/kawaii
