- @javascript = :defaults
- @title = "Organisations that have made submissions to New Zealand's Parliament"
%h1= @title
%p
  We have identified
  = @organisations.size
  organisations that have made submissions to select committees since September 2007.
  This list may be incomplete. We have only listed organisations that have a public
  website. Please email any feedback about this list to:
  %br
  %img{ :alt=>"rob at they work for you dot co dot nz", :class=>"link", :src=>"images/e.png" }
#organisations
  %table.organisation-table
    %tbody
      = render :partial => 'organisation_edit', :collection => @organisations
