#bill_events
  %h2 Bill Events
  %p
  %table.bill-table
    %tbody
    %tr
      %th.debate-column Event
      %th.date Date
      %th.summary
      - if @have_votes
        %th.ayes Ayes
        %th.noes Noes
        %th.abstentions Abstentions
    = render :partial => 'bill_event', :collection => bill_events
  - if @missing_votes
    %p* We don't have voting data from before Nov 2005 in our database at present.
