- @title = 'Submissions: ' + about_title(@bill)
- @description = summissions_meta_description(@bill)
- @header_title = "Submissions on #{link_to_bill(@bill)}"
#primarycontainer
  %p
    = "#{@name_to_submissions.size} submissions in total"
  %table#submissions
    %thead
      %th Submitter
      %th Evidence files
    %tbody
      = render :partial => 'bill_submission', :collection => @name_to_submissions.keys.sort, :locals => { :name_to_submissions => @name_to_submissions }
