- if debate.contributions.size > 120
  = render :partial => 'contribution', :collection => debate.contributions[0..120], :locals => { :debate => debate }
  %div
    %p
      = "[... plus a further #{debate.contributions.size - 120} contributions not shown here]"
- else
  = render :partial => 'contribution', :collection => debate.contributions, :locals => { :debate => debate }
