- @javascript = :defaults
- @title = page_entries_info @submissions
%h1= @title

- paginated_section @submissions do
  %table
    %tr
      %th
        Business item
      %th
      %th
        Submitter_name_for_evidence
      %th
        Org?
      %th
        Url?
    - @submissions.each do |submission|
      - submission_id = "submission_#{submission.id}".to_sym
      %tr{ :id => submission_id }
        = render(:partial => 'submission', :object => submission)
%br
%p= link_to 'New submission', new_submission_path
