%tr
  - debates_in_groups_by_name, votes_by_name = tracked_item.debates_by_name_names_votes_by_name
  - bill_events = tracked_item.bill_events
  - bill_event = bill_events.last
  - date = bill_event.date
  - name = bill_event.name
  - debates = debates_in_groups_by_name.blank? ? nil : debates_in_groups_by_name.select {|list| list.first.normalized_name == name}.flatten
  - debates = nil if debates.blank?
  - votes = votes_by_name.blank? ? nil : votes_by_name[name]
  %td.item_name= link_to_bill(tracked_item)
  %td= debate_name name, debates
  %td.date= debate_last_date date, debates
  %td= tracked_item_list tracked_item
