- @title = 'User change password'
= error_messages_for 'user'
- form_tag(:action=> "change_password") do
  %label{ :for=>"user_password" } Choose password:
  %br
  = password_field "user", "password", :size => 20, :value=>""
  %br
  %label{ :for=>"user_password_confirmation" } Confirm password:
  %br
  = password_field "user", "password_confirmation", :size => 20, :value=>""
  %br
  %p= submit_tag 'Submit'
