- @title = 'User forgot password'
- form_tag(:action=> "forgot_password") do
  %h1 Forgotten your password?
  %p To reset your password, please enter the email address you have registered with.
  %table.password
    %tbody
      %tr
        %td
          %label{ :for=>"user_email" } Email:
        %td
          = text_field "user","email"
      %tr
        %td
        %td
          %span= submit_tag 'Email password'
