- @title = "48th New Zealand Parliament"
#normalcontent
  %h1 48th New Zealand Parliament
  %h2#compare_parties Differences between Parties
  =render(:partial => 'parties/principal_components_explanation')
  %h2#party_voting Comparison of Party Bill Voting
  =render(:partial => 'parties/vote_matrix_explaination_48')
