- @title = "Contact TheyWorkForYou.co.nz"
- @contact_on = true
#normalcontent
  %h1 Contact us
#primarycontainer
  #primarycontent
    .post
      %p Please tell us what you think about TheyWorkForYou.co.nz.
      %p Drop a line to Rob at:
      %p
        %img.link{ :alt=>"robmckinnon at users dot sourceforge dot net", :src=>"images/e.png" }
