!!! Strict
- @title = "New Zealand Parliament's talking about ... "
- @description = "What's said in Aotearoa New Zealand's Parliament?"
%h1 ParlyWords.org.nz

= image_tag('parlywords/2008-07-01_w600_h464.png', :size => '600x464', :class => 'parlywords', :alt => "Parly words on date")

