- if false
  %div{:style=>"background: black; font-size: 1.2em; color: #aaa; padding: 2em; margin-bottom: 2em"}
    %p
      %strong The Guilt Upon Accusation law, Section 92A of the Copyright Act, is due to come into effect on 27 March 2009. The Creative Freedom Foundation has renewed calls for National to repeal S92A and replace it with a workable alternative.
    %p
      %strong <a href="http://creativefreedom.org.nz/story.html?id=227">Write TODAY to the coalition government politicians</a> to tell them how your business and life would be affected if your Internet account is terminated on accusation.
    %p
      %small
        %i TheyWorkForYou.co.nz is blacking out the portraits of National Government MPs on our website until the Government replaces Section 92A with a workable alternative.

