%p
  = link_to("Login", {:controller=>'user', :action=>'login'}, :title=>'User login')
  or
  = link_to("sign up for free", {:controller=>'user', :action=>'signup'}, :title=>'User sign up')
  to track
